/* Login Page */

.login-container {
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  padding: 100px;
  margin: 100px auto;
  max-width: 400px;
}

.login-container button {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.login-header {
  padding-bottom: 20px;
}

.login-header img {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.login-header h2 {
  margin: 0;
}


/* Login Form */

.login-signup-form input[type="text"],
.login-signup-form input[type="password"],
.login-signup-form input[type="submit"] {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.login-signup-form input[type="submit"] {
  background-color: #0074d9;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-signup-form select {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}


