/* Login Page */

.login-container {
  text-align: center;
  padding: 100px;
  margin: auto;
  max-width: 30%;
}

.login-container button {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.login-header {
  padding-bottom: 20px;
}

.login-header img {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.login-header h2 {
  margin: 0;
}


/* Login/Signup Form */

.login-signup-form input[type="text"],
.login-signup-form input[type="password"],
.login-signup-form input[type="submit"] {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.login-signup-form input[type='file'] {
  margin-bottom: 4px;
  padding: 10px;
}

.login-signup-form label {
  font-size: 14px;
}

.login-signup-form input[type="submit"] {
  background-color: #2e7fc7;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-signup-form input[type="submit"]:hover {
  background-color: #0074d9;
}

.login-signup-form select {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}


/* NavBar */

.navbar {
  padding: 20px 40px;
  display: flex;
  align-items: center;
}

.navbar a,
.navbar button {
  background-color: #7e5454;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
  line-height: 1.5;
}

.navbar a:hover,
.navbar button:hover {
  background-color: #a97979;
  cursor: pointer;
}

.navbar img{
  width: 170px;
  padding-right: 30px;
}

.dropdown-menu {
  display: none;
}

/* Home */

.home{
  margin: 10px;
}
.home h1,
.home h2 {
  text-align: center;
}


/* Leaderboards */

.leaderboards {
  text-align: center;
}
.leaderboard-team-card {
  border: 2px solid black;
  border-radius: 5px;
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  max-width: 1000px;
}

.leaderboard-team-card a {
  text-decoration: none;
  color: black;
}

.leaderboard-team-card a:hover {
  text-decoration: underline;
}

.leaderboard-team-card h1 {
  margin: 0;
  padding: 20px;
}

.leaderboard-1st {
  background-color: gold;
}

.leaderboard-2nd{
  background-color: silver;
}

.leaderboard-3rd {
  background-color: #CD7F32;
}


/* Climbing Sets */

.climbing-sets-main h1 {
  text-align: center;
}

.climbing-sets-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.climbing-sets {
  border: 2px solid black;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: calc(33.33% - 20px);
  box-sizing: border-box;
}

.climbing-sets img {
  display: block;
  margin: 0 auto; 
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
  height: 70%;
}

.climbing-sets a {
  background-color: #7e5454;
  border-radius: 5px;
  color: #ffffff;
  padding: 0px 10px;
  margin-bottom: 10px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

/* Climbing Set Details */

.climbing-set-details {
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  margin: 10px 300px 10px 300px;
}

.climbing-set-details img  {
  max-width: 500px;
}

/* Climbs Form */

.climbs {
  border: 2px solid black;
  border-radius: 5px;
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  max-width: 500px;
}

.climbs input {
  transform: scale(1.2);
  margin-left: 10px;
}

.climbs-form input[type="submit"]  {
  box-sizing: border-box;
  width: 500px;
  height: 40px;
  padding: 10px;
  border: 1px solid #2e7fc7;
  background-color: #2e7fc7;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.climbs-form input[type="submit"]:hover {
  background-color: #0074d9;
}

/* Team Sign Up */

.team-sign-up-container {
  text-align: center;
}

.create-team input[type="text"] {
  box-sizing: border-box;
  width: 300px;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.create-team input[type="submit"] {
  box-sizing: border-box;
  width: 300px;
  height: 40px;
  padding: 10px;
  border: 1px solid #2e7fc7;
  background-color: #2e7fc7;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.create-team input[type="submit"]:hover {
  background-color: #0074d9;
}

.find-team input[type="text"] {
  box-sizing: border-box;
  width: 300px;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.find-team-card {
  border: 2px solid black;
  border-radius: 5px;
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  width: 300px;
  max-width: 400px;
  text-decoration: none;
  color: black;
  font-size: 10px;
}

.find-team-card:hover {
  text-decoration: none;
  color: black;
  background-color: #d3d3d3;
}

/* Profile */

.profile-header img{
  width: 100px;
  height: auto;
  padding-right: 10px;
}
.profile-header {
  margin-top: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.profile-header button {
  background-color: #7e5454;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 10px;
  line-height: 1;
  cursor: pointer;
}

.profile-header button:hover {
  background-color: #a97979;
  cursor: pointer;
}

.profile {
  text-align: center;
}

.week-set-container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: top;
}

.week-set {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 300px;
  text-align: left;
}

/* Edit Profile */

.edit-profile {
  text-align: center;
}

.edit-profile input {
  box-sizing: border-box;
  width: 20%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.edit-profile select {
  box-sizing: border-box;
  width: 20%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.edit-profile label{
  text-align: left;
}

.edit-profile input[type='submit'] {
  background-color: #2e7fc7;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-profile input[type='submit']:hover {
  background-color: #0074d9;
}

/* Team Details */

.team-details {
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #d4d4d4;
  margin: 20px auto;
  max-width: 500px;
}

.team-member {
  border: 2px solid black;
  border-radius: 5px;
  background-color: #efefef;
  margin: 20px auto;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-member img{
  border: 2px solid black;
  border-radius: 5px;
  width: 75px;
  margin-right: 50px;
}

.team-member-info {
  text-align: left;
  width: 150px;
}

.team-details button {
  box-sizing: border-box;
  width: 400px;
  height: 40px;
  padding: 10px;
  border: 1px solid #2e7fc7;
  background-color: #2e7fc7;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}

.team-details button:hover {
  background-color: #0074d9;
}

/* Admin Tools */

.admin-tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.admin-tools a{
  border: 1px solid #2e7fc7;
  background-color: #2e7fc7;
  border-radius: 5px;
  color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}

.admin-tools a:hover {
  background-color: #0074d9;
}

.admin-climbing-sets-container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: top;
  width: 95%;
  gap: 20px;
}

.admin-climbing-sets-container button{
  border: 1px solid #2e7fc7;
  background-color: #2e7fc7;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 5px;
  height: auto
}

.admin-climbing-sets-container button:hover {
  background-color: #0074d9;
}

.admin-climbing-set {
  border: 2px solid black;
  border-radius: 5px;
  background-color: #efefef;
  margin: 20px auto;
  width: 20%;
}

.admin-climbs{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.admin-climbs h3 {
  margin-right: 10px;
}

.admin-set-edit-delete {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.admin-set-edit-delete button{
  background-color: rgb(234, 7, 7);
}

.admin-set-edit-delete button:hover{
  background-color: rgb(195, 35, 35);
}

.admin-set-edit-delete a,
.admin-set-edit-delete button {
  border: none;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  line-height: 1.5;
  padding: 5px;
  margin: 0 0 10px 0; /* top right bottom left*/
  font-size: 13px;
  cursor: pointer;
}


/* Admin New Climb Form  */


.admin-new-climb-form select {
  box-sizing: border-box;
  width: 40%;
  height: 40px;
  padding-left: 10px;
  margin: 10px 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.admin-new-climb-form input[type="submit"] {
  box-sizing: border-box;
  width: 40%;
  height: 30px;
  border: 1px solid #2e7fc7;
  background-color: #2e7fc7;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.admin-new-climb-form input[type="submit"]:hover {
  background-color: #0074d9;
}

/* Admin New Climbing Set  */

.admin-new-climbing-set {
  text-align: center;
  margin: 20px auto;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #efefef;
  width: 40%;
  font-size: 16px;
}

.admin-new-climbing-set input[type='text'] {
  margin-bottom: 10px;
  width: 40%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.admin-new-climbing-set input[type='date'] {
  margin-bottom: 20px;
  width: 40%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.admin-new-climbing-set input[type='file'] {
  margin-bottom: 10px;
  width: 40%;
  padding: 10px;
}

.admin-new-climbing-set select {
  margin-bottom: 20px;
  box-sizing: border-box;
  width: 40%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.admin-new-climbing-set textarea {
  margin-bottom: 20px;
  width: 300px;
  height: 100px;
}

.admin-new-climbing-set input[type="submit"] {
  box-sizing: border-box;
  width: 40%;
  height: 30px;
  border: 1px solid #2e7fc7;
  background-color: #2e7fc7;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  margin-bottom: 20px;
}

.admin-new-climbing-set input[type="submit"]:hover {
  background-color: #0074d9;
}

/* Access Denied */

.access-denied {
  text-align: center;
  width: 40%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .login-container {
    text-align: center;
    padding: 20px;
    margin: 100px auto;
    max-width: 90%;
  }
  .navbar {
    display: none;
  }
  .dropdown-menu {
    display: block;
  }

  .dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dropdown select{
    cursor: pointer;
    background-color: #7e5454;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    font-size: 16px;
    line-height: 1.5;
    width: 245px;
    text-align: center;
  }
  
  .dropdown-menu img {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .leaderboard-team-card {
    width: 90%;
  }
}